* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--body-bg-color);
  color: var(--primary-fg-color);
}

pre {
  overflow-x: auto;
  border: 1px solid var(--content-border-color);
  font-size: 1.1em;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  background-color: var(--checkbox-bg-color);
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  color: var(--primary-fg-color);
  text-align: center;
}

input[type='checkbox']:checked::before {
  content: '\f00c';
}

input[type='checkbox']:checked {
  background-color: var(--checkbox-bg-checked-color);
}

input[type='checkbox']:indeterminate {
  background-color: var(--checkbox-bg-checked-color);
}

input[type='checkbox']:indeterminate::before {
  content: '\f068';
}

input[type='checkbox']:disabled {
  background-color: var(--checkbox-bg-disabled-color);
}

input[type='radio'] {
  appearance: none;
  background-color: var(--checkbox-bg-color);
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  color: var(--primary-fg-color);
  text-align: center;
  border-radius: 50%;
  position: relative;
}

input[type='radio']::before, input[type='radio']:checked::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--checkbox-bg-checked-color);
  box-sizing: border-box;
}

input[type='radio']:checked::after {
  content: '';
  width: 9px;
  height: 9px;
  text-align: center;
  display: block;
  border-radius: 50%;
  background-color: var(--checkbox-bg-checked-color);
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
}

input[type='radio']:disabled:before, input[type='radio']:disabled:checked::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--checkbox-bg-disabled-color);
  box-sizing: border-box;
}

input[type='radio']:disabled:checked::after {
  content: '';
  width: 9px;
  height: 9px;
  text-align: center;
  display: block;
  border-radius: 50%;
  background-color: var(--checkbox-bg-disabled-color);
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
}

.container {
  font-family: 'maple-font', monospace;
}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 16px 0 16px 0px;
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: var(--primary-top-bar-border-color);
}

.bottom-bar {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 16px 0 16px 0px;
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-width: 1px;
  border-top-color: var(--primary-bottom-bar-border-color);
  z-index: 999;
}

.bottom-bar .button.copy::before {
  content: '\f0c5';
  padding-right: 7px;
}

.bottom-bar .button.copied::before {
  content: '\f00c';
  padding-right: 7px;
}

.bottom-bar .button.globe::before {
  content: '\f0ac';
  padding-right: 7px;
}

.bottom-bar .button.download::before {
  content: '\f019';
  padding-right: 7px;
}

.bottom-bar .button {
  background-color: var(--primary-button-color);
  color: var(--primary-fg-color);
  border-style: solid;
  border-radius: 10px;
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  margin: 2px;
  padding: 10px;
  transition: background-color 0.1s;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.bottom-bar .button:hover {
  background-color: var(--primary-button-hover-color);
}

.bottom-bar .button:active {
  background-color: var(--primary-button-active-color);
}

.release-types {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.release-type {
  background-color: var(--content-bg-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--content-border-color);
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  transition: background-color 0.1s;
  margin-top: 30px;
}

.release-type.active {
  border-bottom: none;
  position: relative;
  top: 30px;
  z-index: -1;
}

.release-type:hover {
  background-color: var(--content-button-hover-color);
}

.release-type:active {
  background-color: var(--content-button-active-color);
}

.panel {
  background-color: var(--content-bg-color);
  margin: 30px 100px 0 100px;
  border-style: solid;
  border-color: var(--content-border-color);
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.lang-types {
  display: flex;
  flex-direction: row;
}

.lang-type {
  padding: 5px;
  border-style: solid;
  border-color: var(--content-border-color);
  border-width: 1px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.lang-type.active {
  border-bottom: none;
  position: relative;
  top: 10px;
}

.lang-type:hover {
  background-color: var(--content-button-hover-color);
}

.lang-type:active {
  background-color: var(--content-button-active-color);
}

.icon::before {
  font: var(--fa-font-solid);
}

@font-face {
  font-family: 'maple-font';
  font-style: normal;
  font-display: swap;
  src: url('font/MapleMonoNormal-Regular.woff2') format('woff2');
}

:root {
  --body-bg-color: #2b2d30;
  --primary-bg-color: #2b2d30;
  --primary-fg-color: white;
  --primary-top-bar-border-color: #1e1f22;
  --primary-bottom-bar-border-color: #1e1f22;
  --primary-button-color: #3574f0;
  --primary-button-hover-color: #3472E5;
  --primary-button-active-color: #316FD8;
  --content-bg-color: #1e1f22;
  --content-border-color: #393b40;
  --content-button-hover-color: #161719;
  --content-button-active-color: #0D0E0F;
  --checkbox-bg-color: white;
  --checkbox-bg-checked-color: #3574f0;
  --checkbox-bg-disabled-color: gray;
}

@media screen and (max-width: 900px) {
  .top-bar {
    text-align: center;
    position: static;
  }

  .release-types {
    flex-direction: column;
    gap: 0;
  }

  .release-type {
    margin-top: 0;
  }

  .release-type.active {
    top: 0;
  }

  .release-type.active::before {
    content: '\f00c';
  }

  .panel {
    margin: 0;
  }

  .settings {
    flex-direction: column;
  }

  .lang-types {
    flex-direction: column;
  }

  .lang-type.active {
    top: 0;
    display: flex;
    justify-content: space-between;
  }

  .lang-type.active::after {
    content: '\f00c';
  }

  pre {
    margin-top: 0;
  }

  .bottom-bar {
    position: static;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
